<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wecat.small.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wecat.small.entity.Employee">
        <id column="id" jdbcType="Integer" property="id" />
        <result column="name" jdbcType="String" property="name" />
        <result column="gender" jdbcType="String" property="gender" />
        <result column="birthday" jdbcType="LocalDate" property="birthday" />
        <result column="idCard" jdbcType="String" property="idCard" />
        <result column="wedlock" jdbcType="String" property="wedlock" />
        <result column="nationId" jdbcType="Integer" property="nationId" />
        <result column="nativePlace" jdbcType="String" property="nativePlace" />
        <result column="politicId" jdbcType="Integer" property="politicId" />
        <result column="email" jdbcType="String" property="email" />
        <result column="phone" jdbcType="String" property="phone" />
        <result column="address" jdbcType="String" property="address" />
        <result column="departmentId" jdbcType="Integer" property="departmentId" />
        <result column="jobLevelId" jdbcType="Integer" property="jobLevelId" />
        <result column="posId" jdbcType="Integer" property="posId" />
        <result column="engageForm" jdbcType="String" property="engageForm" />
        <result column="tiptopDegree" jdbcType="String" property="tiptopDegree" />
        <result column="specialty" jdbcType="String" property="specialty" />
        <result column="school" jdbcType="String" property="school" />
        <result column="beginDate" jdbcType="LocalDate" property="beginDate" />
        <result column="workState" jdbcType="String" property="workState" />
        <result column="workID" jdbcType="String" property="workID" />
        <result column="contractTerm" jdbcType="Double" property="contractTerm" />
        <result column="conversionTime" jdbcType="LocalDate" property="conversionTime" />
        <result column="notWorkDate" jdbcType="LocalDate" property="notWorkDate" />
        <result column="beginContract" jdbcType="LocalDate" property="beginContract" />
        <result column="endContract" jdbcType="LocalDate" property="endContract" />
        <result column="workAge" jdbcType="Integer" property="workAge" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, gender, birthday, idCard, wedlock, nationId, nativePlace, politicId, email, phone, address, departmentId, jobLevelId, posId, engageForm, tiptopDegree, specialty, school, beginDate, workState, workID, contractTerm, conversionTime, notWorkDate, beginContract, endContract, workAge
    </sql>  
    
    <!--创建记录 -->
	<insert id="insert" parameterType="com.wecat.small.entity.Employee" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO employee
		<trim prefix="(" suffix=")" suffixOverrides="," >
          <if test="id!=null">id,</if>
          <if test="name!=null">name,</if>
          <if test="gender!=null">gender,</if>
          <if test="birthday!=null">birthday,</if>
          <if test="idCard!=null">idCard,</if>
          <if test="wedlock!=null">wedlock,</if>
          <if test="nationId!=null">nationId,</if>
          <if test="nativePlace!=null">nativePlace,</if>
          <if test="politicId!=null">politicId,</if>
          <if test="email!=null">email,</if>
          <if test="phone!=null">phone,</if>
          <if test="address!=null">address,</if>
          <if test="departmentId!=null">departmentId,</if>
          <if test="jobLevelId!=null">jobLevelId,</if>
          <if test="posId!=null">posId,</if>
          <if test="engageForm!=null">engageForm,</if>
          <if test="tiptopDegree!=null">tiptopDegree,</if>
          <if test="specialty!=null">specialty,</if>
          <if test="school!=null">school,</if>
          <if test="beginDate!=null">beginDate,</if>
          <if test="workState!=null">workState,</if>
          <if test="workID!=null">workID,</if>
          <if test="contractTerm!=null">contractTerm,</if>
          <if test="conversionTime!=null">conversionTime,</if>
          <if test="notWorkDate!=null">notWorkDate,</if>
          <if test="beginContract!=null">beginContract,</if>
          <if test="endContract!=null">endContract,</if>
          <if test="workAge!=null">workAge</if>
        </trim>
	    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
          <if test="id!=null">#{id,jdbcType=Integer},</if>
          <if test="name!=null">#{name,jdbcType=String},</if>
          <if test="gender!=null">#{gender,jdbcType=String},</if>
          <if test="birthday!=null">#{birthday,jdbcType=LocalDate},</if>
          <if test="idCard!=null">#{idCard,jdbcType=String},</if>
          <if test="wedlock!=null">#{wedlock,jdbcType=String},</if>
          <if test="nationId!=null">#{nationId,jdbcType=Integer},</if>
          <if test="nativePlace!=null">#{nativePlace,jdbcType=String},</if>
          <if test="politicId!=null">#{politicId,jdbcType=Integer},</if>
          <if test="email!=null">#{email,jdbcType=String},</if>
          <if test="phone!=null">#{phone,jdbcType=String},</if>
          <if test="address!=null">#{address,jdbcType=String},</if>
          <if test="departmentId!=null">#{departmentId,jdbcType=Integer},</if>
          <if test="jobLevelId!=null">#{jobLevelId,jdbcType=Integer},</if>
          <if test="posId!=null">#{posId,jdbcType=Integer},</if>
          <if test="engageForm!=null">#{engageForm,jdbcType=String},</if>
          <if test="tiptopDegree!=null">#{tiptopDegree,jdbcType=String},</if>
          <if test="specialty!=null">#{specialty,jdbcType=String},</if>
          <if test="school!=null">#{school,jdbcType=String},</if>
          <if test="beginDate!=null">#{beginDate,jdbcType=LocalDate},</if>
          <if test="workState!=null">#{workState,jdbcType=String},</if>
          <if test="workID!=null">#{workID,jdbcType=String},</if>
          <if test="contractTerm!=null">#{contractTerm,jdbcType=Double},</if>
          <if test="conversionTime!=null">#{conversionTime,jdbcType=LocalDate},</if>
          <if test="notWorkDate!=null">#{notWorkDate,jdbcType=LocalDate},</if>
          <if test="beginContract!=null">#{beginContract,jdbcType=LocalDate},</if>
          <if test="endContract!=null">#{endContract,jdbcType=LocalDate},</if>
          <if test="workAge!=null">#{workAge,jdbcType=Integer}</if>
	    </trim>
	</insert>    
    <!--批量创建记录 -->
	<insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
		<foreach collection="list" item="item" index="index" separator=";">
			INSERT INTO employee
			<trim prefix="(" suffix=")" suffixOverrides="," >
	          <if test="item.id!=null">id,</if>
	          <if test="item.name!=null">name,</if>
	          <if test="item.gender!=null">gender,</if>
	          <if test="item.birthday!=null">birthday,</if>
	          <if test="item.idCard!=null">idCard,</if>
	          <if test="item.wedlock!=null">wedlock,</if>
	          <if test="item.nationId!=null">nationId,</if>
	          <if test="item.nativePlace!=null">nativePlace,</if>
	          <if test="item.politicId!=null">politicId,</if>
	          <if test="item.email!=null">email,</if>
	          <if test="item.phone!=null">phone,</if>
	          <if test="item.address!=null">address,</if>
	          <if test="item.departmentId!=null">departmentId,</if>
	          <if test="item.jobLevelId!=null">jobLevelId,</if>
	          <if test="item.posId!=null">posId,</if>
	          <if test="item.engageForm!=null">engageForm,</if>
	          <if test="item.tiptopDegree!=null">tiptopDegree,</if>
	          <if test="item.specialty!=null">specialty,</if>
	          <if test="item.school!=null">school,</if>
	          <if test="item.beginDate!=null">beginDate,</if>
	          <if test="item.workState!=null">workState,</if>
	          <if test="item.workID!=null">workID,</if>
	          <if test="item.contractTerm!=null">contractTerm,</if>
	          <if test="item.conversionTime!=null">conversionTime,</if>
	          <if test="item.notWorkDate!=null">notWorkDate,</if>
	          <if test="item.beginContract!=null">beginContract,</if>
	          <if test="item.endContract!=null">endContract,</if>
	          <if test="item.workAge!=null">workAge</if>
	        </trim>
		    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
	          <if test="item.id!=null">#{item.id,jdbcType=Integer},</if>
	          <if test="item.name!=null">#{item.name,jdbcType=String},</if>
	          <if test="item.gender!=null">#{item.gender,jdbcType=String},</if>
	          <if test="item.birthday!=null">#{item.birthday,jdbcType=LocalDate},</if>
	          <if test="item.idCard!=null">#{item.idCard,jdbcType=String},</if>
	          <if test="item.wedlock!=null">#{item.wedlock,jdbcType=String},</if>
	          <if test="item.nationId!=null">#{item.nationId,jdbcType=Integer},</if>
	          <if test="item.nativePlace!=null">#{item.nativePlace,jdbcType=String},</if>
	          <if test="item.politicId!=null">#{item.politicId,jdbcType=Integer},</if>
	          <if test="item.email!=null">#{item.email,jdbcType=String},</if>
	          <if test="item.phone!=null">#{item.phone,jdbcType=String},</if>
	          <if test="item.address!=null">#{item.address,jdbcType=String},</if>
	          <if test="item.departmentId!=null">#{item.departmentId,jdbcType=Integer},</if>
	          <if test="item.jobLevelId!=null">#{item.jobLevelId,jdbcType=Integer},</if>
	          <if test="item.posId!=null">#{item.posId,jdbcType=Integer},</if>
	          <if test="item.engageForm!=null">#{item.engageForm,jdbcType=String},</if>
	          <if test="item.tiptopDegree!=null">#{item.tiptopDegree,jdbcType=String},</if>
	          <if test="item.specialty!=null">#{item.specialty,jdbcType=String},</if>
	          <if test="item.school!=null">#{item.school,jdbcType=String},</if>
	          <if test="item.beginDate!=null">#{item.beginDate,jdbcType=LocalDate},</if>
	          <if test="item.workState!=null">#{item.workState,jdbcType=String},</if>
	          <if test="item.workID!=null">#{item.workID,jdbcType=String},</if>
	          <if test="item.contractTerm!=null">#{item.contractTerm,jdbcType=Double},</if>
	          <if test="item.conversionTime!=null">#{item.conversionTime,jdbcType=LocalDate},</if>
	          <if test="item.notWorkDate!=null">#{item.notWorkDate,jdbcType=LocalDate},</if>
	          <if test="item.beginContract!=null">#{item.beginContract,jdbcType=LocalDate},</if>
	          <if test="item.endContract!=null">#{item.endContract,jdbcType=LocalDate},</if>
	          <if test="item.workAge!=null">#{item.workAge,jdbcType=Integer}</if>
		    </trim>
		</foreach>
	</insert>
<!-- 更新记录 -->
	<update id="update" parameterType="com.wecat.small.entity.Employee">
		UPDATE employee
		<set>
          <if test="name!=null">name = #{name,jdbcType=String},</if>
          <if test="gender!=null">gender = #{gender,jdbcType=String},</if>
          <if test="birthday!=null">birthday = #{birthday,jdbcType=LocalDate},</if>
          <if test="idCard!=null">idCard = #{idCard,jdbcType=String},</if>
          <if test="wedlock!=null">wedlock = #{wedlock,jdbcType=String},</if>
          <if test="nationId!=null">nationId = #{nationId,jdbcType=Integer},</if>
          <if test="nativePlace!=null">nativePlace = #{nativePlace,jdbcType=String},</if>
          <if test="politicId!=null">politicId = #{politicId,jdbcType=Integer},</if>
          <if test="email!=null">email = #{email,jdbcType=String},</if>
          <if test="phone!=null">phone = #{phone,jdbcType=String},</if>
          <if test="address!=null">address = #{address,jdbcType=String},</if>
          <if test="departmentId!=null">departmentId = #{departmentId,jdbcType=Integer},</if>
          <if test="jobLevelId!=null">jobLevelId = #{jobLevelId,jdbcType=Integer},</if>
          <if test="posId!=null">posId = #{posId,jdbcType=Integer},</if>
          <if test="engageForm!=null">engageForm = #{engageForm,jdbcType=String},</if>
          <if test="tiptopDegree!=null">tiptopDegree = #{tiptopDegree,jdbcType=String},</if>
          <if test="specialty!=null">specialty = #{specialty,jdbcType=String},</if>
          <if test="school!=null">school = #{school,jdbcType=String},</if>
          <if test="beginDate!=null">beginDate = #{beginDate,jdbcType=LocalDate},</if>
          <if test="workState!=null">workState = #{workState,jdbcType=String},</if>
          <if test="workID!=null">workID = #{workID,jdbcType=String},</if>
          <if test="contractTerm!=null">contractTerm = #{contractTerm,jdbcType=Double},</if>
          <if test="conversionTime!=null">conversionTime = #{conversionTime,jdbcType=LocalDate},</if>
          <if test="notWorkDate!=null">notWorkDate = #{notWorkDate,jdbcType=LocalDate},</if>
          <if test="beginContract!=null">beginContract = #{beginContract,jdbcType=LocalDate},</if>
          <if test="endContract!=null">endContract = #{endContract,jdbcType=LocalDate},</if>
          <if test="workAge!=null">workAge = #{workAge,jdbcType=Integer}</if>
		</set>
		<where> 
        id = #{id,jdbcType=Integer}
		</where>				
	</update>    
    
	<!--批量更新记录 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE employee
			<set>
	          <if test="item.name!=null">name = #{item.name,jdbcType=String},</if>
	          <if test="item.gender!=null">gender = #{item.gender,jdbcType=String},</if>
	          <if test="item.birthday!=null">birthday = #{item.birthday,jdbcType=LocalDate},</if>
	          <if test="item.idCard!=null">idCard = #{item.idCard,jdbcType=String},</if>
	          <if test="item.wedlock!=null">wedlock = #{item.wedlock,jdbcType=String},</if>
	          <if test="item.nationId!=null">nationId = #{item.nationId,jdbcType=Integer},</if>
	          <if test="item.nativePlace!=null">nativePlace = #{item.nativePlace,jdbcType=String},</if>
	          <if test="item.politicId!=null">politicId = #{item.politicId,jdbcType=Integer},</if>
	          <if test="item.email!=null">email = #{item.email,jdbcType=String},</if>
	          <if test="item.phone!=null">phone = #{item.phone,jdbcType=String},</if>
	          <if test="item.address!=null">address = #{item.address,jdbcType=String},</if>
	          <if test="item.departmentId!=null">departmentId = #{item.departmentId,jdbcType=Integer},</if>
	          <if test="item.jobLevelId!=null">jobLevelId = #{item.jobLevelId,jdbcType=Integer},</if>
	          <if test="item.posId!=null">posId = #{item.posId,jdbcType=Integer},</if>
	          <if test="item.engageForm!=null">engageForm = #{item.engageForm,jdbcType=String},</if>
	          <if test="item.tiptopDegree!=null">tiptopDegree = #{item.tiptopDegree,jdbcType=String},</if>
	          <if test="item.specialty!=null">specialty = #{item.specialty,jdbcType=String},</if>
	          <if test="item.school!=null">school = #{item.school,jdbcType=String},</if>
	          <if test="item.beginDate!=null">beginDate = #{item.beginDate,jdbcType=LocalDate},</if>
	          <if test="item.workState!=null">workState = #{item.workState,jdbcType=String},</if>
	          <if test="item.workID!=null">workID = #{item.workID,jdbcType=String},</if>
	          <if test="item.contractTerm!=null">contractTerm = #{item.contractTerm,jdbcType=Double},</if>
	          <if test="item.conversionTime!=null">conversionTime = #{item.conversionTime,jdbcType=LocalDate},</if>
	          <if test="item.notWorkDate!=null">notWorkDate = #{item.notWorkDate,jdbcType=LocalDate},</if>
	          <if test="item.beginContract!=null">beginContract = #{item.beginContract,jdbcType=LocalDate},</if>
	          <if test="item.endContract!=null">endContract = #{item.endContract,jdbcType=LocalDate},</if>
	          <if test="item.workAge!=null">workAge = #{item.workAge,jdbcType=Integer}</if>
			</set>
			<where> 
	          id = #{item.id,jdbcType=Integer}
			</where>
		</foreach>
	</update>    
    <!-- 按ID查询记录 -->
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM employee
		WHERE 
	      id = #{id}
	</select>
	<!-- 查询所有记录 -->
	<select id="selectList" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM employee	
	</select>
	
	<!-- 按Id删除 -->
	<delete id="deleteById" parameterType="long">
		DELETE FROM employee 
		WHERE 
	      id = #{id}
	</delete>

	<!-- 按Id批量删除 -->
	<delete id="deleteBatchIds" parameterType="java.util.List">
		DELETE FROM employee WHERE 
	      id
          in (
		<foreach collection="list" item="item" index="index" separator=";">
			#{item}
		</foreach>
		)
	</delete>
    <select id="selectAll" parameterType="{Entity=com.wecat.small.entity, Mapper=com.wecat.small.mapper, ModuleName=null, Xml=com.wecat.small.mapper.xml, ServiceImpl=com.wecat.small.service.impl, Service=com.wecat.small.service, Controller=com.wecat.small.controller}.common.PageInfoReqVo" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from employee
	    <where>
	       1=1
	       <if test="queryData!=null">
		       <if test="queryData.name!=null and queryData.name!='' "> and name like CONCAT('%',#{queryData.name,jdbcType=String},'%')</if> 
			       <if test="queryData.gender!=null and queryData.gender!='' "> and gender like CONCAT('%',#{queryData.gender,jdbcType=String},'%')</if> 
			       <if test="queryData.birthday!=null and queryData.birthday!='' "> and birthday = #{queryData.birthday}&gt;= #{startTime} and #{queryData.birthday}&lt;= #{endTime}</if>
			       <if test="queryData.idCard!=null and queryData.idCard!='' "> and idCard like CONCAT('%',#{queryData.idCard,jdbcType=String},'%')</if> 
			       <if test="queryData.wedlock!=null and queryData.wedlock!='' "> and wedlock like CONCAT('%',#{queryData.wedlock,jdbcType=String},'%')</if> 
			       <if test="queryData.nationId!=null"> and nationId = #{queryData.nationId,jdbcType=Integer}</if>
			       <if test="queryData.nativePlace!=null and queryData.nativePlace!='' "> and nativePlace like CONCAT('%',#{queryData.nativePlace,jdbcType=String},'%')</if> 
			       <if test="queryData.politicId!=null"> and politicId = #{queryData.politicId,jdbcType=Integer}</if>
			       <if test="queryData.email!=null and queryData.email!='' "> and email like CONCAT('%',#{queryData.email,jdbcType=String},'%')</if> 
			       <if test="queryData.phone!=null and queryData.phone!='' "> and phone like CONCAT('%',#{queryData.phone,jdbcType=String},'%')</if> 
			       <if test="queryData.address!=null and queryData.address!='' "> and address like CONCAT('%',#{queryData.address,jdbcType=String},'%')</if> 
			       <if test="queryData.departmentId!=null"> and departmentId = #{queryData.departmentId,jdbcType=Integer}</if>
			       <if test="queryData.jobLevelId!=null"> and jobLevelId = #{queryData.jobLevelId,jdbcType=Integer}</if>
			       <if test="queryData.posId!=null"> and posId = #{queryData.posId,jdbcType=Integer}</if>
			       <if test="queryData.engageForm!=null and queryData.engageForm!='' "> and engageForm like CONCAT('%',#{queryData.engageForm,jdbcType=String},'%')</if> 
			       <if test="queryData.tiptopDegree!=null and queryData.tiptopDegree!='' "> and tiptopDegree like CONCAT('%',#{queryData.tiptopDegree,jdbcType=String},'%')</if> 
			       <if test="queryData.specialty!=null and queryData.specialty!='' "> and specialty like CONCAT('%',#{queryData.specialty,jdbcType=String},'%')</if> 
			       <if test="queryData.school!=null and queryData.school!='' "> and school like CONCAT('%',#{queryData.school,jdbcType=String},'%')</if> 
			       <if test="queryData.beginDate!=null and queryData.beginDate!='' "> and beginDate = #{queryData.beginDate}&gt;= #{startTime} and #{queryData.beginDate}&lt;= #{endTime}</if>
			       <if test="queryData.workState!=null and queryData.workState!='' "> and workState like CONCAT('%',#{queryData.workState,jdbcType=String},'%')</if> 
			       <if test="queryData.workID!=null and queryData.workID!='' "> and workID like CONCAT('%',#{queryData.workID,jdbcType=String},'%')</if> 
			       <if test="queryData.contractTerm!=null"> and contractTerm = #{queryData.contractTerm,jdbcType=Double}</if>
			       <if test="queryData.conversionTime!=null and queryData.conversionTime!='' "> and conversionTime = #{queryData.conversionTime}&gt;= #{startTime} and #{queryData.conversionTime}&lt;= #{endTime}</if>
			       <if test="queryData.notWorkDate!=null and queryData.notWorkDate!='' "> and notWorkDate = #{queryData.notWorkDate}&gt;= #{startTime} and #{queryData.notWorkDate}&lt;= #{endTime}</if>
			       <if test="queryData.beginContract!=null and queryData.beginContract!='' "> and beginContract = #{queryData.beginContract}&gt;= #{startTime} and #{queryData.beginContract}&lt;= #{endTime}</if>
			       <if test="queryData.endContract!=null and queryData.endContract!='' "> and endContract = #{queryData.endContract}&gt;= #{startTime} and #{queryData.endContract}&lt;= #{endTime}</if>
			       <if test="queryData.workAge!=null"> and workAge = #{queryData.workAge,jdbcType=Integer}</if>
			   </if>
	    </where>
	  </select>
    
</mapper>
