package ${package.Mapper};

import ${package.Entity}.${entity};
import com.cjy.shiro.common.PageInfoReqVo;
import java.util.List;

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.mapperName}{

       List<${entity}> selectList();
       
       ${entity} selectById(Long id);
       
       int insert(${entity} entity);
       
       int batchSave(List<${entity}> entitys);
       
       int update(${entity} entity);
       
       int batchUpdate(List<${entity}> entitys);
       
       int deleteById(Long id);
       
       int deleteBatchIds(List<Long> ids);
       
       List<${entity}> selectByPage(PageInfoReqVo<${entity}> pageInfoReqVo);

}
