<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

#if(${enableCache})
    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

#end
#if(${baseResultMap})
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
#foreach($field in ${table.fields})
#if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}"  property="${field.propertyName}" />
#end
#end
#foreach($field in ${table.commonFields})##生成公共字段
    <result column="${field.name}"  property="${field.propertyName}" />
#end
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}"  property="${field.propertyName}" />
#end
#end
    </resultMap>

#end
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
#foreach($field in ${table.commonFields})
        ${field.name},
#end
        ${table.fieldNames}
    </sql>  
    
    <!--创建记录 -->
	<insert id="insert" parameterType="${package.Entity}.${entity}" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO ${table.name}
		<trim prefix="(" suffix=")" suffixOverrides="," >
#foreach($field in ${table.fields})
          <if test="${field.propertyName}!=null">${field.name}#if($foreach.hasNext),#end</if>
#end
        </trim>
	    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
#foreach($field in ${table.fields})
          <if test="${field.propertyName}!=null">#{${field.propertyName}}#if($foreach.hasNext),#end</if>
#end				
	    </trim>
	</insert>    
    <!--批量创建记录 -->
	<insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO ${table.name}
		<trim prefix="(" suffix=")" suffixOverrides="," >
#foreach($field in ${table.fields})
	          <if test="item.${field.propertyName}!=null">${field.name}#if($foreach.hasNext),#end</if>
#end
	    </trim> 
	    VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides="," >
#foreach($field in ${table.fields})
	          <if test="item.${field.propertyName}!=null">#{item.${field.propertyName}}#if($foreach.hasNext),#end</if>
#end				
		    </trim>
		</foreach>;
	</insert>
<!-- 更新记录 -->
	<update id="update" parameterType="${package.Entity}.${entity}">
		UPDATE ${table.name}
		<set>
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##主键
          <if test="${field.propertyName}!=null">${field.name} = #{${field.propertyName}}#if($foreach.hasNext),#end</if>
#end
#end
		</set>
		<where> 
#foreach($field in ${table.fields})
#if(${field.keyFlag})##主键
        ${field.name} = #{${field.propertyName}}
#end
#end
		</where>				
	</update>    
    
	<!--批量更新记录 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE ${table.name}
			<set>
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##主键
	          <if test="item.${field.propertyName}!=null">${field.name} = #{item.${field.propertyName}}#if($foreach.hasNext),#end</if>
#end
#end
			</set>
			<where> 
#foreach($field in ${table.fields})
#if(${field.keyFlag})##主键
	          ${field.name} = #{item.${field.propertyName}}
#end
#end
			</where>
		</foreach>
	</update>    
    <!-- 按ID查询记录 -->
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM ${table.name}
		WHERE 
#foreach($field in ${table.fields})
#if(${field.keyFlag})##主键
	      ${field.name} = #{${field.propertyName}}
#end
#end	
	</select>
	<!-- 查询所有记录 -->
	<select id="selectList" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM ${table.name}	
	</select>
	
	<!-- 按Id删除 -->
	<delete id="deleteById" parameterType="long">
		DELETE FROM ${table.name} 
		WHERE 
#foreach($field in ${table.fields})
#if(${field.keyFlag})##主键
	      ${field.name} = #{${field.propertyName}}
#end
#end
	</delete>

	<!-- 按Id批量删除 -->
	<delete id="deleteBatchIds" parameterType="java.util.List">
		DELETE FROM ${table.name} WHERE 
#foreach($field in ${table.fields})
#if(${field.keyFlag})##主键
	      ${field.name}
#end
#end
          in (
		<foreach collection="list" item="item" index="index" separator=";">
			#{item}
		</foreach>
		)
	</delete>
    <select id="selectByPage" parameterType="com.cjy.shiro.common.PageInfoReqVo" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from ${table.name}
	    <where>
	       1=1
	       <if test="queryData!=null">
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##主键
	#if(${field.propertyType}=="String" || ${field.propertyType}=="VARCHAR")
	       <if test="queryData.${field.propertyName}!=null and queryData.${field.propertyName}!='' "> and ${field.name} like CONCAT('%',#{queryData.${field.propertyName}},'%')</if> 
	#elseif(${field.propertyType}=="LocalDate" || ${field.propertyType}=="LocalTime")
	       <if test="queryData.${field.propertyName}!=null and queryData.${field.propertyName}!='' "> and ${field.name} = #{queryData.${field.propertyName}}&gt;= #{startTime} and #{queryData.${field.propertyName}}&lt;= #{endTime}</if>
	#else 
	       <if test="queryData.${field.propertyName}!=null"> and ${field.name} = #{queryData.${field.propertyName}}</if>
	#end
#end
#end
		   </if>
	    </where>
	  </select>
    
</mapper>
